<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-8 text-left">
                <p>Copyright © 2025 LOGOS Evangelical Seminary | <a
                        href="https://www.les.edu/resource-zh/privacy-policy/">Privacy Policy</a></p>
            </div>
            <div class="col-md-4 text-right">
                <p>
                    <a class="" title="JW Automation Service" href="https://www.innovext.com/tw/" target="_blank"
                        rel="noopener">Website by JW Automation Service</a>
                </p>
            </div>
        </div>
    </div>
</div>